#main {
    display: flex;
    justify-content: center;
}

body {
    background: rgb(174, 255, 228);
}

.clock-index h1 {
    font-family: 'Roboto', sans-serif;
}

.clock-time {
    border: solid rgb(255, 115, 225) 5px;
    background-color: rgb(231, 190, 255);
    border-radius: 10%;
    height: 80px;
    width: 400px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    /* justify-content: space-between; */
}

.clock-label {
    display: inline-block;
    float: left;
}

.clock-content {
    float: right;
}


